.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Clubs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navmenu {
  width: 100%;
  text-align: center;
}

.courts{
  display: flex;
  flex-direction: row;
  list-style: none;
}
