.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Clubs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navmenu {
  width: 100%;
  text-align: center;
}

.courts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.Input{
  display: flex;
  width: 25%;
}

.rates{
  list-style: none;
}


.reservations{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: left
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 75%;
}

th {
    height: 50px;
}

td {
    text-align: center;
}
